/* Place CSS styles here */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    flex: 1;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
}

.row {
    display: grid;
    grid-template-columns: 3fr 1fr;
    flex: 1;
    gap: 20px;
    padding: 20px;
}
